<nav class="navbar mb-3 border-bottom">
  <div class="container-fluid">
    <a
      class="navbar-brand text-white fs-2"
      style="
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        user-select: none;
      "
      ><em>Pasty</em></a
    >
    <div class="d-flex" role="search">
      <button
        class="btn btn-secondary"
        style="font-weight: bolder"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#logInModal"
      >
        <i class="fa-solid fa-sign-in-alt"></i> Login
      </button>
    </div>
  </div>
</nav>

<%- include("./login.ejs") %>
